.header-and-footer {

  padding: 140px 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;

  background: #F4F4F6;

  .header {
    box-sizing: border-box;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

  .footer {
    box-sizing: border-box;
    background: #fff;
    margin-top: 40px;
  }

  .footer-mini {
    box-sizing: border-box;
    background: #fff;
    margin-top: 40px;
  }
}