mixin subsribe()
  .subscribe
    h3.subscribe__title Подписка
    p.subscribe__paragraph Получайте специальные предложения и новости сервиса
    form.subscribe__form
      lable.subscribe__lable
        input.subscribe__input(placeholder= "Email")
        button.subscribe__button
          span.subscribe__button-arrow