include ./blocks/card-of-room/card-of-room.pug

doctype html
html(lang="ru")
  head
    meta(charset = 'utf-8')
    meta(name= 'viewport', content= 'initial-scale=1.0, width=device-width')
    title= title
  body
    +card-of-room('https://nesidimdoma-club.ru/images/2019/03/01/s1200-7.jpg', 888, 2000, 5, true)